:root {
  --primary-color: #d7263d;
  --secondary-color: #17bebb;
  --text-color: #fffbfe;
  --background-color: #171a21;
}

.red {
  color: var(--primary-color);
}

.container > :nth-child(n + 3) {
  margin-top: 160px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 80px;
}

.content .intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  height: 100vh;
}

.content .intro .left {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.content .intro .left .information {
  display: flex;
  flex-direction: column;
}

.content .intro .left .bio {
  display: flex;
  flex-direction: column;
}

.content .intro .right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.content .intro .right img {
  max-width: 100%;
  flex-basis: 50%;
}

.content .abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.content .abilities .left {
  flex: 1;
  min-width: 500px;
}

.content .abilities .left video {
  object-fit: contain;
}

.content .abilities .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.content .abilities .right .abilities-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.content .abilities .right .abilities-wrapper .icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.content .abilities .right .abilities-wrapper .icons .ability {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #173b40;
  transition: background-color 0.2s ease-in-out;
}

.content .abilities .right .abilities-wrapper .icons .ability.active {
  background-color: #1f5b5f;
}

.content .abilities .right .abilities-wrapper .icons .ability:hover {
  cursor: pointer;
  background-color: #1f5b5f;
}

@media screen and (max-width: 768px) {
  .content .abilities .left video {
    max-height: 20vh;
  }
}
