:root {
    --primary-color: #D7263D;
    --secondary-color: #17BEBB;
    --text-color: #FFFBFE;
    --background-color: #171A21;
}

.red {
    color: var(--primary-color); 
}

.container > :nth-child(n+3) {
    margin-top: 160px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 80px;
}

.content .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    height: 100vh;
}

.content .intro .left {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 50px;
}

.content .intro .left .information {
    display: flex;
    flex-direction: column;
}

.content .intro .left .information .role {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.content .intro .left .bio {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content .intro .right {
    flex: 1;
    text-align: right;
    height: 75%;
}

.content .intro .right img {
    height: 100%;
}

.content .abilities {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.content .abilities .left {
    flex: 1;
}

.content .abilities .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.content .abilities .right .abilities-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.content .abilities .right .abilities-wrapper .icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content .abilities .right .abilities-wrapper .icons .ability {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #173B40;
}