:root {
    --primary-color: #D7263D;
    --secondary-color: #17BEBB;
    --text-color: #FFFBFE;
    --background-color: #171A21;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}


/* Texts start */
h1 {
    font-size: 48px;
    font-weight: 800;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.subheading {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.20em;
    text-transform: uppercase;
}
/* Texts end */


/* Buttons start */
button {
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    transition: .2s ease-in-out;
    color: var(--text-color);
}

button:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: #b81f33;
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-secondary:hover {
    background-color: #0f9d9a;
}
/* Buttons end */


/* Container start */
.container {
    padding: 20px 70px 60px 70px;
}
/* Container end */