:root {
    --primary-color: #D7263D;
    --secondary-color: #17BEBB;
    --text-color: #FFFBFE;
    --background-color: #171A21;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > :nth-child(n+3) {
    margin-top: 160px;
}

/* Hero start */
.hero {
    height: 100vh;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.hero .left, .right {
    flex: 1;
}

.hero .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero .left h1 {
    color: var(--primary-color);
}

.hero .left .top {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero .right {
    text-align: right;
}
/* Hero end */


/* Featured start */
.featured {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.featured .top {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.featured .agents {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featured .agents .bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.featured .agents .bottom .agent-card {
    flex: 1;
    border-radius: 20px;
    padding: 70px 50px;
    gap: 5px;
    background-color: var(--primary-color);
    transition: background-position-x .2s ease-in-out;
    background-repeat: no-repeat;
    cursor: pointer;
}

.featured .agents .bottom .agent-card .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.featured .agents .bottom .agent-card .role {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.featured .weapons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featured .weapons .bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.featured .weapons .bottom .weapon-card {
    flex: 1;
    border-radius: 20px;
    padding: 70px 50px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.featured .weapons .bottom .weapon-card .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: transform .2s ease-in-out;
}

.featured .weapons .bottom .weapon-card .info .type {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.featured .weapons .bottom .weapon-card .info .type .subheading.slash {
    color: var(--background-color);
    background-size: c;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}